h1 {
    font-family: "Lato";
    font-size: 3rem;
}

h2 {
    font-family: "Lato";
    font-size: 2rem;
}

h3 {
    font-family: "Lato";
    font-size: 1rem;
}

p {
    font-family: "Lato";
    font-size: 1rem;
}

a {
    font-family: "Lato";
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.service__card h3 {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }