.banner {
    border: solid 1px #e7816b;
    background-color: #e7816b;
    border-radius: 15px;
    margin-left: 11rem;
    margin-right: 11rem;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}