
.btn {
    border: solid 2px, black;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    font-family: "Lato";
    font-size: 3rem;
    color: black;
}