@use "../abstracts/variables";

.learn_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    margin-top: 5vh;

    img {
        width: 65%;
        
        
    }

    .learn_more_text {
        padding-left:5rem;
        padding-right:5rem;
        text-align: left;
        width:55%;
        vertical-align: middle;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

.img_learn_more {
    transform: translateY(5%);
}

.cadreimage {
     height: 43em;
    overflow: hidden;
  
}

.red {
    color: variables.$color-primary;
}

.service {
    margin-left: 11%;

}

.service h2 {
    text-align: left;
}

.services-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

.service_card {
    display: flex;
}

.card_1 {
    background-image: url(/assets/img/homme-assis-batiment.jpg);
    width: 40%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    }
.card_2 {
    background-image: url(/assets/img/passport.jpg);
    width: 10vw;
    background-size: cover;
    background-position: center;
    }
.card_3 {
    background-image: url(/assets/img/montgolfiere.jpg);
    width: 10vw;
    background-size: cover;
    background-position: center;

}
      
   
