@use "../abstracts/variables";

.learn_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    margin-top: 5vh;

    img {
        width: 65%;
        
        
    }

    .learn_more_text {
        padding-left:5rem;
        padding-right:5rem;
        text-align: left;
        width:55%;
        vertical-align: middle;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

.img_learn_more {
    transform: translateY(5%);
}

.cadreimage {
    height: 100%;
    overflow: hidden;
  
}

.red {
    color: variables.$color-primary;
}

.service {
    margin-left: 11%;

}

.service h2 {
    text-align: left;
    margin-top: 5rem;
}



.services_container {
    display: flex;
    gap: 2rem;
    width: 120vw;
    
    .card_1 {
        border-radius: 15px;
        width: 40vw;
        height: 32.6vw;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
        content:"";
        position: absolute;
        inset: 0;
        background-image: url(/assets/img/homme-assis-batiment.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
        }
    
        &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0 / 43%);
        z-index: 2;
        }
    }
    
    .colonne_droite {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .card_2 {
        border-radius: 15px;
        width: 35.5vw;
        height: 50%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
        content:"";
        position: absolute;
        inset: 0;
        background-image: url(/assets/img/passport.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
        }
        
        &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0 / 43%);
        z-index: 2;
        }
    }

    .card_3 {
        border-radius: 15px;
        width: 35.5vw;
        height: 50%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

     &::before {
        content:"";
        position: absolute;
        inset: 0;
        background-image: url(/assets/img/montgolfiere.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
        }

        &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0 / 43%);
        z-index: 2;
        }
    }

}





.service_content {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 z-index: 3;
 position: relative;
}
 
      
.service_card h3 {
    font-size: 4rem;
    color: white;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.service_card a {
    font-size: 2rem;
    color: white;
}

.lien {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    
}


.features .h2 {
 text-align: right;

}
